.detail-image img {
  width: 100%;
  height: 350px;
}

#detail-container {
  padding: 0px 50px;
}

.detail-title h1 {
  color: #FFFFFF;
  display: inline;
}

.details p{
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 18px;
}

.detail-time-year p{
  color: #F65261;
  font-size: 22px;
  font-weight: normal;
}

.detail-time-year span {
  padding-left: 30px;
}

#detail-rating {
  font-size: 24px;
  border: 1px solid #FFFFFF;
  border-radius: 180px;
  padding: 20px;
  margin-left: 10px;
  color: green;
}

#btn-back-search {
  padding-top: 20px;
  text-align: right;
}

.btn-back-search-link {
  font-size: 20px;
  word-spacing: 3px;
  color: #F65261;
  background-color: rgba(35, 35, 35, 0);
  border: none;
  padding: 5px 15px 5px 15px;

}