.container-movielist {
  background-color: #232323;
  margin-top: 10px;
  padding-bottom: 80px;
}

.number-results {
  padding-top: 20px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: lighter;
}