header {
  background-image: url("../../images/background-header.jpg");
  
}
#filter {
  padding-bottom: 120px;
  background-color: rgba(35, 35, 35, .8);
  -webkit-backdrop-filter: blur(3px); /* Safari 9+ */
  backdrop-filter: blur(3px); /* Chrome and Opera */
}
#logo p {
  font-size: 20px;
  color: #F65261;
}
#logo {
  padding-top: 10px;
}

#btn-add {
  padding-top: 20px;
  text-align: right;
}

#btn-add button {
  font-size: 20px;
  word-spacing: 3px;
  color: #F65261;
  background-color: rgba(85, 85, 85, .6);
  border: none;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;

}

.search-container {
 padding: 0px 60px 0px 60px;
}