.modal-container {
  background-color: #232323;
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 70px 50px 70px;
  position: absolute;
  left: 25%;
  top: 200px;
  z-index: 10;
}

#modal-title {
  font-weight: lighter;
  margin-bottom: 20px;
}

.modal-close {
  height: 30px;
  width: 30px;
  font-size: 16px;
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  background-color: #232323;
  border: none;
  border-radius: 160px;
}

#add-movie-form input, #add-movie-form select {
  background-color: #424242;
  color: #FFFFFF;
  border: none;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  display: block;
  width: 500px;
  height: 50px;
}
#add-movie-form label {
  color: #F65261;
  font-weight: bold;
}

#add-movie-form {
  padding-left: none;
}

.button-container {
  margin-top: 60px;
  text-align: right;
}
.submit-button {
  color: white;
  background-color: #F65261;
  padding: 14px 50px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
}

.reset-button {
  background-color:#232323;
  color: #F65261;
  padding: 14px 50px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #F65261;
}
.background-modal {
  background-color: rgba(35, 35, 35, .9);
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1500px;
}