.error-page-container {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  padding: 100px 0px 100px 0px;
}

.code-error{
  font-size: 100px;
  margin: 50px 0px 50px 0px;
}

.back-home-button {
  background-color:#555555;
  color: #F65261;
  padding: 14px 50px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #F65261;
}

.back-home-button:hover {
  color: #F65261;
  text-decoration: none;
}