#img-container {
  padding: 10px 25px 30px 25px;
}
#img-container img{
  width: 100%;
  height: 400px;
}
#img-details {
  padding-top: 15px;
  padding-right: 10px;
}

#img-details div {
  color: #9b9999;
}
#title-detail {
  font-size: 18px;
  font-weight: bold;
}
#genre-detail {
  font-size: 15px;
}
#date-detail {
  padding: 0px;
  text-align: center;
  border: 1px solid #555555;
  border-radius: 5px;
}

#dots-icon {
  height: 30px;
  width: 30px;
  font-size: 16px;
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  background-color: #232323;
  border: none;
  border-radius: 160px;
}

#nav-movie {
  position: absolute;
  top: 20px;
  right: 35px;
  background-color: #232323;
  border-radius: 5px;
}
#ul-movie {
 padding: 0px;
 margin: 0px;
}

#nav-movie li {
  display: block;
  padding: 10px 0px;
  width: 180px;
  padding-left: 15px;
}
#nav-movie li:hover {
  background-color: #F65261;
}

#li-close {
  text-align: right;
  padding-right: 20px;
}
#li-close:hover {
  background-color: #232323 !important; 
}

#li-close button {
  background-color: #232323;
  color: white;
  border: none;
  padding-right: 20px;
}