#search-title {
  color: white;
  font-weight: lighter;
  margin-bottom: 30px;
}

#search-input {
  color: #FFFFFF;
  width: 75%;
  height: 50px;
  font-size: 18px;
  margin-right: 20px;
  padding-left: 15px;
  border-radius: 5px;
  background-color: rgba(35, 35, 35, .7);
  border: none;
}
#search-button {
  color: white;
  background-color: #F65261;
  padding: 14px 70px;
  border-radius: 5px;
  border: none;
}