nav ul li {
  color: white;
  list-style: none;
  display: inline-block;
  padding: 0px 30px 0px 0px;
}
#filter-nav {
  border-bottom: 3px solid #555555;
  padding-left: 0px;
}

#filter-ul {
  padding-left: 0px;
  padding-top: 1rem;
}

#nav-form {
  display: inline-block;
  text-align: left;
  padding-left: 440px;
}
#nav-form label {
  color: #555555;
}
#filter-sort {
  background-color: #232323;
  border: none;
  color: white;
  padding-left: 20px;
}
